html {
    font-size: 16px;
  }
  
  body {
    font-family: Helvetica, Arial, sans-serif;
    color: #333;
    background-color: rgb(212, 210, 210);
    
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
}
header h1{
    padding-left: 1rem;
}

nav {
    display: flex;
    gap: 10px;
    padding: 1rem;
}
nav a {
    text-decoration: none;
}
nav a:hover {
    
    background-color: darkgray;
    
}
#map {
    height: 400px;
    width: 60%;
    border: 2px solid whitesmoke;
}
main {
    display: flex;
    margin-top: 1rem;
    padding: 8px;
    border: 2px solid black;
    justify-content: space-between;
    gap: 10px;
    
}
#information {
    width: 40%;
    border: 2px solid whitesmoke;
}









/* Small screens */
@media (max-width: 600px) {
    /* Add styles here */
  }
  
  /* Medium & large screens */
  @media (min-width: 601px) {
    /* Add styles here */
  }
  
  /* Medium screens */
  @media (min-width: 601px) and (max-width: 1024px) {
    /* Add styles here */
  }
  
  /* Large screens */
  @media (min-width: 1025px) {
    /* Add styles here */
  }

