html {
    font-size: 16px;
  }
  
  body {
    font-family: Helvetica, Arial, sans-serif;
    color: #333;
    background-color:#fff1e6;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #CB997E;
    border-radius: 12px;
}

header h1{
    padding-left: 1rem;
}

nav {
    display: flex;
    gap: 10px;
    padding: 1rem;
}
nav button {
  background-color: #CB997E;
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 12px;
  transition-duration: 0.4s;
  padding: 5px 10px;
}


nav button:hover {
    
    background-color: darkgray;
    color: black;
    
}
#map {
    height: 350px;
    width: 55%;
    border: 2px solid #CB997E;
    border-radius: 12px;
}
main {
    display: flex;
    margin-top: 8px;
    padding: 8px;
    border: 2px solid #CB997E;
    justify-content: space-between;
    gap: 10px;
    border-radius: 12px;
    
}
#information {
    width: 45%;
    border: 2px solid #CB997E;
    border-radius: 12px;
}
#Restaurants {
  border: 2px solid #CB997E;
  padding: 8px;
  margin-top: 8px;
  border-radius: 12px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
}
#target1 {
  text-align: right;
}
section {
  height: 300px;
  overflow: auto;
}
section::-webkit-scrollbar {
  width: 12px;
}

section::-webkit-scrollbar-thumb {
  background-color: #CB997E; 
  border-radius: 12px;
}






/* Small screens */
@media (max-width: 600px) {
    /* Add styles here */
  }
  
  /* Medium & large screens */
  @media (min-width: 601px) {
    /* Add styles here */
  }
  
  /* Medium screens */
  @media (min-width: 601px) and (max-width: 1024px) {
    /* Add styles here */
  }
  
  /* Large screens */
  @media (min-width: 1025px) {
    /* Add styles here */
  }

